# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
*.egg-info/

# VS Code
.vscode/

# Data / models (optional: if datasets are large, don't track them)
data/*.csv

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
